* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Estilos do container principal */
.container {
    margin: 2rem;
    flex: 1;
}

.center {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(27vh, 1fr));
    grid-gap: 0.5rem;
    justify-items: center;
}

.retangulo {
    width: 13vw;
    height: 27vh;
    background-color: #ccc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}


.titulo {
    font-size: 3rem;
    padding-left: 1rem;
}

.linha {
    width: 20vw;
    height: 0.3vh;
    background-color: black;
    margin-top: 0.5rem;
    border-radius: 1rem;
}


.items {
    width: 10vw;
    height: 19vh;
    margin-bottom: 5px;
    padding-top: 1rem;
    border-radius: 1rem;
}

.adicionar {
    position: absolute;
    bottom: 170px; /* Ajuste a distância do botão para o rodapé conforme necessário */
    right: 10px; /* Ajuste a distância do botão para a borda direita conforme necessário */
    background-color: #fff;
    width: 50px; /* Define um tamanho fixo para a largura */
    height: 50px; /* Define um tamanho fixo para a altura */
    border-radius: 50%;
    box-shadow: 1px 4px 4px 4px rgba(0,0,0,0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.adicionar img {
    width: 30px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 30px; /* Ajuste o tamanho da imagem conforme necessário */
}