* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

header {
    position: relative;
    width: 100%;
    height: 160px;
    background-color: #003366;
    display: flex;
    align-items: center;
}

.barraDePesquisa {
    display: none;
}

.barraDePesquisa.show {
    display: block;
}

.barraDePesquisaContainer {
    position: absolute;
    right: 15rem;
    display: flex;
    align-items: center;
}

.barraDePesquisa {
    width: 50vw;
    height: 4vh;
    background-color: #D9D9D9;
    border-radius: 30px;
    margin-right: 1rem;
    animation: expandSearchBar 0.5s forwards; 
}

@keyframes expandSearchBar {
    from {
        width: 0;
    }
    to {
        width: 50vw;
    }
}

.lupa {
    height: 2.8rem;
}

.icons {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.carrinho {
    margin-left: 2rem;
    height: 3rem;
}

.perfil {
    margin-left: 2rem;
    height: 3rem;
}

.logo{
    height: 8rem;
    margin-left: 2rem;
    border-radius: 2rem;
}





.titulo {
    margin: 3rem 0 0rem 3rem;
    font-size: 3rem;
}

.linha {
    width: 30vw;
    height: 0.1vh;
    background-color: black;
    margin-left: 2.5rem;
}

.itens img {
    padding: 0rem 0 1rem 1rem;
    height: 13vh;
    width: 9vw;
}

.compras {
    display: grid;
    grid-template-rows: (1,1fr);
    margin: 5rem 0 0 5rem;   
}

.primeiroItem {
    background-color: #d4d4d4;
    height: 15vh;
    width: 35vw;
    padding-top: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}


.primeiroItem, .segundoItem {
    display: flex;
    padding-bottom: 6rem;
}

.descricao {
    margin-left: 3rem;
    text-align: justify;
    width: 28vw;
    font-size: 14px;
}

.qntd{
    margin-left: 3rem;
}

.preco {
    margin-left: 3rem;
    margin-top: 1rem;
    font-size: 16px;
    font-weight: bold;
}

.informacoes {
    position: absolute;
    top: 35%;
    right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container {
    background-color: #d4d4d4;
    width: 20vw;
    height: 35vh;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.container p {
    margin: 1rem 0;
    font-size: 2rem;
}

.confirmarCompra button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.5rem;
    margin-right: 6.5rem;
    cursor: pointer;
}

.confirmarCompra button p {
    margin: 0;
}


footer {
    position: relative;
    top: 30rem;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 14vh; /* Altura do footer */
    background: linear-gradient(to bottom, #999999, #333333);
    color: white;
}