body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}
.produto {
    display: flex;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}
.imagem {
    flex: 1;
    max-width: 300rem;
    margin-right: 20px;
}
.imagem img {
    width: 100%;
    border-radius: 8px;
}
.detalhes {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.detalhes p{
    width: 25rem;
    text-align: justify;
    height: 20rem;
}

.nome {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.preco {
    font-size: 20px;
    color: #b12704;
    margin-bottom: 20px;
}
.btn {
    padding: 10px;
    background-color: #ffa41b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
}
.btn:hover {
    background-color: #ff8c00;
}

.seta-esquerda, .seta-direita {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}
.seta-esquerda {
    left: 10px;
}
